@using System.Web.Optimization
@using ShoppingList.Web
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/content/css")

    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>
<body>
    @Html.Partial("_alerts")
    @RenderBody()
    <footer>
        @*                <p>&copy; Company 2012</p>*@
    </footer>
    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)
</body>
</html>

